@import 'https://fonts.googleapis.com/css?family=Poiret+One';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700';

div{font-family: 'Roboto Condensed', sans-serif;}
p{font-family: 'Poiret One', sans-serif; font-size: 20px;}
#main-img{height:587px;}
#about{text-align: center;}
